:root{
    --primary: #CDC2E8;
}

.btn {
    padding: 5px 40px 5px 40px;
    border-radius: none;
    outline: none;
    border:  2px solid #CDC2E8;
}

.btn:hover {
    padding: 5px 40px 5px 40px;
    transition: all 0.5s ease-out ;
    background-color:#CDC2E8;
    color: #fafafa;
    transition: 250ms;
}

.btn__primary {
    background-color: #584E64;
}

.btn__outline {
    background-color: transparent;
    color:#CDC2E8;
    padding: 5px 40px 5px 40px;
    border-radius: none;
    border: 2px solid #CDC2E8;
    transition: all 0.5s ease-out;
}

.btn__medium {
    padding: 5px 40px 5px 40px;
    border-radius: none;
    font-size: 18px;
    color:#CDC2E8;
}

.btn__large {
    padding: 5px 40px 5px 40px;
    border-radius: none;
    font-size: 24px;
    color: #CDC2E8;
}