.portfolio {
    padding: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: 0 0.5px #CDC2E8;
}

.portheading {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 146.8%;
    text-align: left;
    letter-spacing: 0.065em;
}

.portheading::after {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 10%;
    height: 3px;
    justify-content: center;
    text-align: center;
    background-color: #CDC2E8;
}

.container {
    margin-top: 40px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.in-container {
    margin: 30px;
    border-radius: 15px;
    box-shadow: 1px -1px #CDC2E8, -1px 1px #CDC2E8, 2px -2px #CDC2E8, -2px 2px #CDC2E8;
    padding: 20px;
    text-align: center;
}

.in-img {
    align-self: center;
}

.in-header {
    color: #CDC2E8;
    padding-bottom: 10px;
}

.in-nav, .in-nav a {
    float: right;
    margin-top: 30px;
    color: #CDC2E8;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .in-container {
        margin-right: 0;
        height: 350px;
        width: 100%;
        margin-bottom: 10%;
    }
    .in-nav, .in-nav a {
        margin-bottom: 0;
        padding: 0;
    }
}