.portfolio {
  padding: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  box-shadow: 0 0.5px #cdc2e8;
  letter-spacing: 0.1em;
}

.portfolio__heading {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 146.8%;
  text-align: left;
  letter-spacing: 0.065em;
}
.portfolio__heading::after {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  justify-content: center;
  text-align: center;
  background-color: #cdc2e8;
}

.portfolio__container {
  padding: 50px 0 0 0;
}

.portfolio__img {
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
}

.portfolio__details {
  margin: 24px;
}

.portfolio__pactani {
  text-align: start;
  justify-content: left;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
}

.portfolio__school {
  text-align: end;
  justify-content: right;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
}

.portfolio__weather {
  text-align: start;
  justify-content: left;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
}

.portfolio__recipfy {
  text-align: end;
  justify-content: right;
  margin: auto;
  display: flex;
}

.portfolio__link {
  margin-top: 80px;
  font-size: 1.5rem;
  color: #fafafa;
}
.portfolio__link:hover {
  color: #cdc2e8;
}
.portfolio__title {
  margin-bottom: 100px;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.figma__icon {
  margin-left: 10px;
  color: #cdc2e8;
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .portfolio__heading {
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__title {
      margin-bottom: 100px;
  }

  .portfolio__details {
    margin: 12px;
  }

  .portfolio__pactani {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 12px;
  }

  .portfolio__school {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__recipfy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__img {
    width: 100%;
    height: 10rem;
  }
}
