.portfolio {
  padding: 60px;
  margin: auto;
  box-shadow: 0 0.5px #cdc2e8;
  letter-spacing: 0.1em;
}

.portfolio__heading {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 146.8%;
  text-align: left;
  letter-spacing: 0.065em;
}
.portfolio__heading::after {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  justify-content: center;
  text-align: center;
  background-color: #cdc2e8;
}

.portfolio__container {
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 40px;
  grid-template-areas: 
  "pactani pactani . ."
  ". . school school"
  'weather weather . .'
  '. . recipfy recipfy';
}

.portfolio__school {
  grid-area: school;
  text-align: right;
}

.portfolio__weather {
  grid-area: weather;
}

.portfolio__recipfy {
  grid-area: recipfy;
  text-align: right;
}

.portfolio__pactani {
  grid-area: pactani;
}

.portfolio__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.portfolio__details {
  margin-top: 20px;
}

.portfolio__img {
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
}

.portfolio__link {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #fafafa;
}
.portfolio__link:hover {
  color: #cdc2e8;
}
.figma__icon {
  margin-left: 10px;
  color: #cdc2e8;
  font-size: 1.5rem;
}

@media screen and (max-width: 760px) {
  .portfolio__container {
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 40px;
  grid-template-areas: 
  "pactani pactani pactani pactani"
  "school school school school"
  'weather weather weather weather'
  'recipfy recipfy recipfy recipfy';
}

.portfolio__img {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
}

.portfolio__pactani {
  text-align: left;
}

.portfolio__school {
  text-align: left;
}

.portfolio__recipfy {
  text-align: left;
}

.portfolio__weather {
  text-align: left;
}

.portfolio__link {
  justify-content: left;
}

}
