.contact {
  padding: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5px #cdc2e8;
}

.contact__heading {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 146.8%;
  text-align: left;
  letter-spacing: 0.065em;
}

.contact__heading::after {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #cdc2e8;
}

.contact__card {
  margin-left: 40px;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  background-color: #cdc2e8;
}

.contact__btn {
  background-color: #584e64;
  font-size: 16px;
  padding: 10px;
  margin: 20px 60px 0 0;
  border-radius: 5px;
  text-decoration: none;
}

.contact__btn:hover {
  background-color: #fafafa;
  color: #cdc2e8;
}

.contact__paragraph {
  color: #fafafa;
  font-size: 1.5rem;
  line-height: 200%;
  letter-spacing: 4px;
  background-color: #cdc2e8;
  margin-bottom: 20px;
}

.contact__socials {
  background-color: #cdc2e8;
}

.fab {
  margin: 10px;
  font-size: 24px;
  background-color: #cdc2e8;
}
.fab:hover {
  color: #fafafa;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 960px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact__heading {
    font-size: 24px;
  }
  .contact__card {
    margin-top: 50px;
    width: 100%;
    font-size: 16px;
  }
  .contact__paragraph {
    font-size: 18px;
    line-height: 1.5rem;
    flex: 1;
  }
  .contact__btn {
    margin: 20px 15px 0 0;
    border-radius: 5px;
    text-decoration: none;
  }
  .fab {  
    margin: 5px;
  font-size: 16px;
  background-color: #cdc2e8;
}
}
