.contact {
  padding: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5px #cdc2e8;
}

.contact__head {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 146.8%;
  text-align: left;
  letter-spacing: 0.065em;
}

.contact__head::after {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #cdc2e8;
}

.contact__box {
  padding: 0.5rem;
  margin: 40px;
  border-radius: 10px;
  width: 30rem;
  background-color: #cdc2e8;
}

/* .email {
    background-color: #CDC2E8;
} */

.contact__paragraph {
  margin: 20px;
  color: #fafafa;
  font-size: 1.2rem;
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}

.contact__social {
  margin: 20px;
  padding: 5px 40px 5px 40px;
  color: #cdc2e8;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #cdc2e8;
}
.contact__social:hover {
  color: #fafafa;
  border: 1px solid #fafafa;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 960px) {
  .contact__head {
    font-size: 24px;
  }
  .contact__box {
    margin-left: 0;
    width: 100%;
    font-size: 16px;
  }

  .contact__email {
    font-size: 14px;
  }

  .contact__paragraph {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }

  .con a {
    font-size: 10px;
  }

  .fab {
    font-size: 16px;
    padding: 10px;
    float: unset;
  }
}
