.navbar__logo {
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 37px;
    margin: 50px 0 0 50px;
    color: #CDC2E8;
    justify-self: start;
    font-family: 'Stalemate', cursive;
    cursor: pointer;
    
}

